@media only screen and (min-width: 1440px) {
    /* styles for devices with a minimum screen width of 480px */
    .App {
      position: absolute;
      width: 1440px;
      height: 2191px;
      background: #ffffff;
    }
    
    
    
    
      
      .navbar {
        background: #6B3CC9;
        width: 1440px;
        height: 77px;
        top: 0px;
        left: 0px;
        padding: 26px, 80px, 26px, 80px;
        justify-content: space-between;
        
      }
    
      .logo{
        width: 46.74px;
    height: 36.11px;
    top: -11.11px;
    margin: 3px;
    
      }
    .logo2{
      width: 18.6px;
    height: 24.51px;
    top: 0.01px;
    left: 84.13px;
    margin: 3px;
    }
      .logo1{
        width: 25.92px;
    height: 24.51px;
    top: 0.01px;
    left: 60.37px;
    margin: 3px;
      }
      .logo3{
        width: 21.77px;
        height: 24.51px;
        top: 0.01px;
        left: 113.01px;
        margin: 3px;
      }
    .logo6{
      width: 4.54px;
    height: 24.51px;
    top: 0.01px;
    left: 172.14px;
    margin: 3px;
    }
    
      .logo4{
        width: 4.54px;
    height: 24.51px;
    top: 0.01px;
    left: 138.64px;
    margin: 3px;
      }
      .logo5{
      width: 20.4px;
      height: 24.86px;
      top: -0.17px;
      left: 147.46px;
      margin: 3px;
      }
      .logo7{
      width: 18.62px;
      height: 24.51px;
      top: 0.01px;
      left: 179.23px;
      margin: 3px;
      }
    .logo8{
      width: 25.91px;
      height: 24.51px;
      top: 0.01px;
      left: 195.71px;
      
      
    }
    .logo8{
        width: 14.27px;
    height: 24.51px;
    top: 0.01px;
    left: 224.61px;
    
    
    }
    
    .navbar-nav > li {
        margin-right: 15px; /* Set the margin between navbar items */
      }
      
      .navbar-nav.ml-auto {
        margin-left: auto;
      }
       /* Optional: Style the links */
       .navbar-nav a {
        text-decoration: none;
        /* Set your desired text color */
       }
    
      .nav-link1{
        width: 68px;
    height: 17px;
    
    font-family: Inter;
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;
    
      }
    
      .nav-link2{
        width: 73px;
    height: 17px;
    
    
    font-family: Inter;
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;
    
      }
      .nav-link3{
        width: 92px;
    height: 17px;
    
    
    font-family: Inter;
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;
    
      }
      .nav-link4{
        width: 64px;
        height: 17px;
        
    font-family: Inter;
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;
    
      }
    #navbarNav{
      margin: 50px;
        width: 381px;
    height: 17px;
    gap: 28px;
    
    }
    .atdigit{
      margin: 50px;
    }
    .frontimg{
      position: absolute;
      width: 1440px;
    height: 763px;
    top: -40px;
    }
    
    .insideimg{
      position: absolute;
      width:630px;
      height:306px;
      top: 354px;
      left: 80px;
      right: 750px;
      padding :24px 40px 32px 40px;
      gap: 20px;
      background: linear-gradient(256.73deg, #1CBDDD 27.86%, #4DCA79 100%),
      linear-gradient(0deg, #FFFFFF, #FFFFFF);
      color: rgba(255, 255, 255, 1);
    }
    
    .insideimg button{
      width: 89px;
      height: 14px;
      padding: 12px 20px 12px 20px;
      border-radius: 4px;
      gap: 8px;
      background: #F28D35;
      font-family: calibri;
      font-size: 14px;
      font-weight: 700;
      line-height: 14px;
      letter-spacing: -0.02em;
      text-align: center;
      color: #FFFFFF;
    }
    .insideimg h2{
      font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: -0.02em;
    text-align: left;
    }
    
    .mobile{
      justify-content: center;
      align-items: center;
      display: flex;
      width: 1064px;
    height:  414px;
    top: 857px;
    left: 188px;
    gap: 108px;
    }
    
    .mobile img{
      flex: 1;
      width: 414px;
      height: 414px;
    }
    
    .mobile.head h2{
      width: 507px;
    height: 33px;
    gap: 12px;
    }
    
    .description {
      width: 542px;
      height: 187px;
      gap: 20px;
    }
    
    .subitem p{
      flex:1;
       
        font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    }
    
    .head h2{
      margin-top: 100px;
        
      flex: 1; 
    font-family: Poppins;
    font-size: 27px;
    font-weight: 600;
    line-height: 33px;
    letter-spacing: 0.4000000059604645px;
    text-align: left;
    color: rgba(107, 60, 201, 1);
    }
    
    .subitem button{
      width: 89px;
        height: 14px;
        padding: 12px 20px 12px 20px;
        border-radius: 4px;
        gap: 8px;
        background: #F28D35;
        font-family: calibri;
        font-size: 14px;
        font-weight: 700;
        line-height: 14px;
        letter-spacing: -0.02em;
        text-align: center;
        color: #FFFFFF;
    }
    
    .digital{
     
      display: flex;
      width: 1,064px;
    height: 416px;
    top: 1351px;
    left: 188px;
    gap: 108px;
    margin-left: 150px;
      
    }
    
    .digitdecs{
      width: 542px;
      height: 206px;
      gap: 20px;
    }
    .dighead h2{
      font-family: Poppins;
      font-size: 27px;
      font-weight: 600;
      line-height: 33px;
      letter-spacing: 0.4000000059604645px;
      text-align: left;
      color: rgba(107, 60, 201, 1);
    
    }
    
    .digital img{
      flex: 1;
      width: 414px;
    height: 416px;
    }
    
    .digsubitem p{
      width: 542px;
    height: 95px;
    }
    
    .digsubitem button{
      width: 89px;
        height: 14px;
        padding: 12px 20px 12px 20px;
        border-radius: 4px;
        gap: 8px;
        background: #F28D35;
        font-family: calibri;
        font-size: 14px;
        font-weight: 700;
        line-height: 14px;
        letter-spacing: -0.02em;
        text-align: center;
        color: #FFFFFF;
    }
    .digsubitem p{
      font-family: Inter;
      font-size: 16px;
      font-weight: 400;
      line-height: 19px;
      letter-spacing: 0em;
      text-align: left;
    }
    
    
    
    
    .newfooder{
      background: rgba(107, 60, 201, 1);
      width: 1440px;
    height: 324px;
    top: 1867px;
    padding: 40px 80px 20px 80px;
    gap: 40px;
    
    }
    .newfooder .fooder {
     
    width: 1280px;
    height: 199px;
    
    }
    .newfooder .fooder .fooder1{
      
      width: 413px;
    height: 102px;
    gap: 20px;
    text-align: left;
    margin-right: 300px;
    
    }
    .newfooder .fooder .fooder1 .imagefooder{
    width: 238.89px;
    height: 25px;
    
    }
    .newfooder .fooder .fooder1 .fooder_text{
    width: 413px;
    height: 57px;
    
    }
    .newfooder .fooder .fooder1 .fooder_text p{
      flex: 1;
      font-family: Lato;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(255, 255, 255, 1);
    padding-top: 20px;
    
    }
    .newfooder .fooder {
    flex: 1;
    
    }
    .newfooder .fooder .colom1{
       width: 197px;
        height: 199px;
        gap: 12px;
        text-align: left;
    }
    .newfooder .fooder  .colom1 .list ul{
        
      width: 197px;
      height: 150px;
      gap: 12px;
      text-align: left;}
    
    .newfooder .fooder .colom1 .list ul li a{
      gap: 12px; 
      
      width: 197px;
      height: 150px;
      color: white;
      font-family: Inter;
    font-size: 14px;
    font-weight: 500;
    line-height: 16.94px;
    letter-spacing: 0em;
    text-align: left;
    }
    .newfooder .fooder  .colom1  h2{
      color: white;
      font-family: Inter;
      font-size: 21px;
      font-weight: 600;
      line-height: 25px;
      letter-spacing: 0em;
      text-align: left;
    
    }
    .newfooder .fooder  .colom2{
      flex: 1;
      width: 197px;
    height: 187px;
    gap: 12px;
    
    left: 325px;
    width: 197px;
    height: 187px;
    gap: 12px;
    text-align: left;
    
    
    }
    .newfooder .fooder  .colom2  ul{
      
      
      width: 197px;
      height: 150px;
      gap: 12px;
      text-align: left;
      
    }
    
    .newfooder .fooder  .colom2  ul li a{
      gap: 12px; 
      
      width: 197px;
      height: 150px;
      color: white;
      font-family: Inter;
    font-size: 14px;
    font-weight: 500;
    line-height: 16.94px;
    letter-spacing: 0em;
    text-align: left;
    
    }
    .newfooder .fooder  .colom2  h2{
      display: flex;
      color: white;
      font-family: Inter;
      font-size: 21px;
      font-weight: 600;
      line-height: 25px;
      letter-spacing: 0em;
      text-align: left; 
    
    }
    .newfooder .d4 hr{
      width: 630px;
      
      border: 1px solid #FFFFFF;
      
    
    }
    
    .newfooder .d4 p{
    color: #FFFFFF;
    
    }
   
   
    
  }
  
  
  
  @media only screen and (min-width: 1200px) {
    /* styles for devices with a minimum screen width of 480px */
    
  
    .App {
      position: absolute;
      width: 1200px;
      height: 77px;
      background: #ffffff;
    }
    .navbar {
      background: #6B3CC9;
      width: 1200px;
      height: 77px;
      top: 0px;
      left: 0px;
      padding: 26px, 60px, 26px, 60px;
      
    }
  
    .logo{
      width: 46.74px;
  height: 36.11px;
  top: -11.11px;
  
    }
  .logo2{
    width: 18.6px;
  height: 24.51px;
  top: 0.01px;
  left: 84.13px;
  }
    .logo1{
      width: 25.92px;
  height: 24.51px;
  top: 0.01px;
  left: 60.37px;
  
    }
    .logo3{
      width: 21.77px;
      height: 24.51px;
      top: 0.01px;
      left: 113.01px;
  
    }
  .logo6{
    width: 4.54px;
  height: 24.51px;
  top: 0.01px;
  left: 172.14px;
  }
  
    .logo4{
      width: 4.54px;
  height: 24.51px;
  top: 0.01px;
  left: 138.64px;
  
    }
    .logo5{
    width: 20.4px;
    height: 24.86px;
    top: -0.17px;
    left: 147.46px;
    }
    .logo7{
    width: 18.62px;
    height: 24.51px;
    top: 0.01px;
    left: 179.23px;
    }
  .logo8{
    width: 25.91px;
    height: 24.51px;
    top: 0.01px;
    left: 195.71px;
    
  }
  .logo8{
      width: 14.27px;
  height: 24.51px;
  top: 0.01px;
  left: 224.61px;
  
  }
  
  .navbar-nav > li {
      margin-right: 15px; /* Set the margin between navbar items */
    }
    
    .navbar-nav.ml-auto {
      margin-left: auto;
    }
     /* Optional: Style the links */
     .navbar-nav a {
      text-decoration: none;
      /* Set your desired text color */
     }
  
    .nav-link1{
      width: 68px;
  height: 17px;
  
  font-family: Inter;
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;
  color: #FFFFFF;
  
    }
  
    .nav-link2{
      width: 73px;
  height: 17px;
  
  
  font-family: Inter;
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;
  color: #FFFFFF;
  
    }
    .nav-link3{
      width: 92px;
  height: 17px;
  
  
  font-family: Inter;
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;
  color: #FFFFFF;
  
    }
    .nav-link4{
      width: 64px;
      height: 17px;
      
  font-family: Inter;
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;
  color: #FFFFFF;
  
    }
  #navbarNav{
      width: Hug (381px);
  height: Hug (17px);
  gap: 28px;
  
  }
  .frontimg{
    width: 1200px;
  height: 763px;
  top: -63px;
  }
  
  .insideimg{
    position: absolute;
    width:622px;
    height:306px;
    top: 354px;
    left: 60px;
    right: 750px;
    padding :24px 40px 32px 40px;
    gap: 20px;
    background: linear-gradient(256.73deg, #1CBDDD 27.86%, #4DCA79 100%),
    linear-gradient(0deg, #FFFFFF, #FFFFFF);
    color: rgba(255, 255, 255, 1);
  }
  
  .insideimg button{
  
    width: 214px;
  height:38px;
  
  border-radius: 4px;
  gap: 8px;
  background: rgba(242, 141, 53, 1);
  
  }
  .insideimg h2{
    font-family: Inter;
  font-size: 48px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: -0.02em;
  text-align: left;
  }
  
  .mobile{
    justify-content: center;
    align-items: center;
    display: flex;
    width: 896px;
  height:  346px;
  top: 857px;
  left: 152px;
  gap: 20px;
  }
  
  .mobile img{
    flex: 1;
    width: 346px;
    height: 346px;
  }
  
  .mobile.head h2{
    width: 507px;
  height: 33px;
  gap: 12px;
  }
  
  .description {
    width: 530px;
    height: 187px;
    gap: 20px;
  }
  
  .subitem{
    width: 530px;
    height: 76px;
  }
  
  .subitem p{
    flex:1;
     
      font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.36px;
  letter-spacing: 0em;
  text-align: left;
  }
  
  .head h2{
    margin-top: 100px;
      
    flex: 1; 
  font-family: Poppins;
  font-size: 27px;
  font-weight: 600;
  line-height: 33px;
  letter-spacing: 0.4000000059604645px;
  text-align: left;
  color: rgba(107, 60, 201, 1);
  }
  
  .subitem button{
    width: 129px;
    height:38px;
    padding: 
    12px, 20px, 12px, 20px;
    
    border-radius: 4px;
    gap: 8px;
    background: rgba(242, 141, 53, 1);
  }
  
  .digital{
   
    display: flex;
    width: 896px;
  height: 348px;
  top: 1283px;
  left: 152px;
  gap: 20px;
  }
  
  .digitdecs{
    width: 530px;
    height: 206px;
    gap: 20px;
  }
  
  .dighead{
    width: 507px;
    height: 33px;
  }
  .dighead h2{
    font-family: Poppins;
    font-size: 27px;
    font-weight: 600;
    line-height: 33px;
    letter-spacing: 0.4000000059604645px;
    text-align: left;
    color: rgba(107, 60, 201, 1);
  
  }
  
  .digital img{
    flex: 1;
    width: 346px;
  height: 348px;
  }
  .digsubitem{
    width: 530px;
    height: 95px;
  }
  
  .digsubitem p{
    width: 530px;
  height: 95px;
  }
  
  .digsubitem button{
    width: 129px;
    height: 38px;
    padding: 12px, 20px, 12px, 20px;
    border-radius: 4px;
    gap: 8px;
    background: rgba(242, 141, 53, 1);
  }
  .digsubitem p{
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.36px;
    letter-spacing: 0em;
    text-align: left;
  }
  
  
  .newfooder{
    background: rgba(107, 60, 201, 1);
    width: 1200px;
  height: 324px;
  top: 1711px;
  padding: 40px 60px 20px 60px;
  gap: 40px;
  
  }
  .newfooder .fooder {
   
  
  width: 1080px;
  height: 199px;
  gap: 112px;
  }
  
  .newfooder .fooder .fooder1{
    
    width: 438px;
  height: 102px;
  gap: 20px;
  
  }
  .newfooder .fooder .fooder1 .imagefooder{
  width: 238.89px;
  height: 25px;
  
  }
  .newfooder .fooder .fooder1 .fooder_text{
  width: 413px;
  height: 57px;
  
  }
  .newfooder .fooder .fooder1 .fooder_text p{
    flex: 1;
    font-family: Lato;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(255, 255, 255, 1);
  padding-top: 20px;
  
  }
  .newfooder .fooder {
  flex: 1;
  
  }
  .newfooder .fooder .colom1{
    flex: 1;
    width: 197px;
  height:199px;
  gap: 12px;
  
  list-style-type: none;
  text-decoration: none;
  
  }
  .newfooder .fooder  .colom1 .list ul{
    list-style-type: none;
  text-decoration: none;
  }
  
  .newfooder .fooder .colom1 .list ul li a{
    text-decoration: none; 
    color: white;
    padding-left: 70px;
  }
  .newfooder .fooder  .colom1  h2{
    color: white;
    font-family: Inter;
  font-size: 21px;
  font-weight: 600;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: left;
  padding-left: 100px;
  }
  .newfooder .fooder  .colom2{
    flex: 1;
    width: 197px;
  height: 187px;
  gap: 12px;
  
  }
  .newfooder .fooder  .colom2  ul{
    list-style-type: none;
  text-decoration: none;
  }
  
  .newfooder .fooder  .colom2  ul li a{
    text-decoration: none; 
    color: white;
  }
  .newfooder .fooder  .colom2  h2{
    color: white;
    font-family: Inter;
  font-size: 21px;
  font-weight: 600;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: left;
  padding-left: 30px;
  }
  .newfooder .d4 hr{
    width: 630px;
    
    border: 1px solid #FFFFFF;
    margin-left: 300px;
  
  }
  
  .newfooder .d4 p{
  color: #FFFFFF;
  margin-left: 500px;
  }
  @media screen and (max-width: 375px){
  .navbar {
    background: #6B3CC9;
    width:375px;
  height: 77px;
  padding: 26px 20px 26px 20px;
  
  
  }
  .front .frontimg img{
    width: 375px;
    height: 218px;
    top: 77px;
    
  } 
  
  .front .front_sub{
  position: absolute;
  width: 375px;
  height: 294px;
  top: 220px;
  padding: 24px 20px 32px 20px;
  gap: 20px;
  background: linear-gradient(256.73deg, #1CBDDD 27.86%, #4DCA79 100%),
    linear-gradient(0deg, #FFFFFF, #FFFFFF);
    color: rgba(255, 255, 255, 1);
  
  } 
  .front{
  position: relative;
  
  }
  .front .front_sub h2{
  
  font-family: Inter;
  font-size: 36px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: -0.02em;
  text-align: left;
  
  
  }
  .second{
    width:335px;
  height: 572.82px;
  top: 649px;
  left: 20px;
  gap: 20px;
  
  
  }
  .second  img{
   
  width: 275px;
  height: 275.82px;
  
  }
  .second .text_1{
  width: 335px;
  height: 277px;
  gap: 20px;
  
  
  }
  
  }
  } 
  
  @media only screen and (min-width: 768px) {
    /* styles for devices with a minimum screen width of 480px */
    
    .App {
      position: absolute;
      width: 768px;
      height: 448px;
      background: #ffffff;
    }
    
    .navbar {
      background: #6B3CC9;
      width: 1440px;
      height: 77px;
      top: 0px;
      left: 0px;
      padding: 26px, 80px, 26px, 80px;
      
    }
  
    .logo{
      width: 46.74px;
  height: 36.11px;
  top: -11.11px;
  
    }
  .logo2{
    width: 18.6px;
  height: 24.51px;
  top: 0.01px;
  left: 84.13px;
  }
    .logo1{
      width: 25.92px;
  height: 24.51px;
  top: 0.01px;
  left: 60.37px;
  
    }
    .logo3{
      width: 21.77px;
      height: 24.51px;
      top: 0.01px;
      left: 113.01px;
  
    }
  .logo6{
    width: 4.54px;
  height: 24.51px;
  top: 0.01px;
  left: 172.14px;
  }
  
    .logo4{
      width: 4.54px;
  height: 24.51px;
  top: 0.01px;
  left: 138.64px;
  
    }
    .logo5{
    width: 20.4px;
    height: 24.86px;
    top: -0.17px;
    left: 147.46px;
    }
    .logo7{
    width: 18.62px;
    height: 24.51px;
    top: 0.01px;
    left: 179.23px;
    }
  .logo8{
    width: 25.91px;
    height: 24.51px;
    top: 0.01px;
    left: 195.71px;
    
  }
  .logo8{
      width: 14.27px;
  height: 24.51px;
  top: 0.01px;
  left: 224.61px;
  
  }
  
  .navbar-nav > li {
      margin-right: 15px; /* Set the margin between navbar items */
    }
    
    .navbar-nav.ml-auto {
      margin-left: auto;
    }
     /* Optional: Style the links */
     .navbar-nav a {
      text-decoration: none;
      /* Set your desired text color */
     }
  
    .nav-link1{
      width: 68px;
  height: 17px;
  
  font-family: Inter;
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;
  color: #FFFFFF;
  
    }
  
    .nav-link2{
      width: 73px;
  height: 17px;
  
  
  font-family: Inter;
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;
  color: #FFFFFF;
  
    }
    .nav-link3{
      width: 92px;
  height: 17px;
  
  
  font-family: Inter;
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;
  color: #FFFFFF;
  
    }
    .nav-link4{
      width: 64px;
      height: 17px;
      
  font-family: Inter;
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;
  color: #FFFFFF;
  
    }
  #navbarNav{
      width: Hug (381px);
  height: Hug (17px);
  gap: 28px;
  
  }
  .frontimg{
    width: 768px;
  height: 448px;
  top: 77px;
  }
  
  .insideimg{
    position: absolute;
    width:768px;
    height:258px;
    top: 525px;
    left: 80px;
    right: 750px;
    padding :24px 40px 32px 40px;
    gap: 20px;
    background: linear-gradient(256.73deg, #1CBDDD 27.86%, #4DCA79 100%),
    linear-gradient(0deg, #FFFFFF, #FFFFFF);
    color: rgba(255, 255, 255, 1);
  }
  
  .insideimg button{
  
    width: 214px;
  height:38px;
  
  border-radius: 4px;
  gap: 8px;
  background: rgba(242, 141, 53, 1);
  
  }
  .insideimg h2{
    font-family: Inter;
  font-size: 48px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: -0.02em;
  text-align: left;
  }
  
  .mobile{
    justify-content: center;
    align-items: center;
    display: flex;
    width: 688px;
  height:  275px;
  top: 843px;
  left: 40px;
  gap: 20px;
  }
  
  .mobile img{
    flex: 1;
    width: 393px;
    height: 239px;
  }
  
  .mobile.head h2{
    width: 507px;
  height: 33px;
  gap: 12px;
  }
  
  .description {
    width: 542px;
    height: 187px;
    gap: 20px;
  }
  
  .subitem p{
    flex:1;
     
      font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  }
  
  .head h2{
    margin-top: 100px;
      
    flex: 1; 
  font-family: Poppins;
  font-size: 27px;
  font-weight: 600;
  line-height: 33px;
  letter-spacing: 0.4000000059604645px;
  text-align: left;
  color: rgba(107, 60, 201, 1);
  }
  
  .subitem button{
    width: 214px;
    height:38px;
    
    border-radius: 4px;
    gap: 8px;
    background: rgba(242, 141, 53, 1);
  }
  
  .digital{
   
    display: flex;
    width: 688px;
  height: 276px;
  top: 1178px;
  left: 40px;
  gap: 20px;
  }
  
  .digitdecs{
    width: 393px;
    height: 225px;
    gap: 20px;
  }
  .dighead h2{
    font-family: Poppins;
    font-size: 27px;
    font-weight: 600;
    line-height: 33px;
    letter-spacing: 0.40px;
    text-align: left;
    color: rgba(107, 60, 201, 1);
  
  }
  
  .digital img{
    flex: 1;
    width: 275px;
  height: 276px;
  }
  
  .digsubitem p{
    width: 393px;
  height: 114px;
  }
  
  .digsubitem button{
    width: 129px;
    height: 38px;
    padding: Padding
    12px, 20px, 12px, 20px;
    border-radius: 4px;
    gap: 8px;
    background: rgba(242, 141, 53, 1);
  }
  .digsubitem p{
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
  }
  
  .newfooder{
    background: rgba(107, 60, 201, 1);
    width: 768px;
  height: 486px;
  top: 1534px;
  padding: 40px 40px 20px 40px;
  gap: 40px;
  
  }
  .newfooder .fooder {
   width: 688px;
   height: 361px;
   gap: 60px;
  }
  .newfooder .fooder .fooder1{
    
    width: 413px;
  height: 102px;
  gap: 20px;
  
  }
  .newfooder .fooder .fooder1 .imagefooder{
  width: 238.89px;
  height: 25px;
  
  }
  .newfooder .fooder .fooder1 .fooder_text{
  width: 413px;
  height: 57px;
  
  }
  .newfooder .fooder .fooder1 .fooder_text p{
    flex: 1;
    font-family: Lato;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(255, 255, 255, 1);
  padding-top: 20px;
  
  }
  .newfooder .fooder {
  flex: 1;
  
  }
  .newfooder .fooder .colom1{
    flex: 1;
    width: 216px;
  height:199px;
  gap: 12px;
  
  list-style-type: none;
  text-decoration: none;
  
  }
  .newfooder .fooder  .colom1 .list ul{
    list-style-type: none;
  text-decoration: none;
  }
  
  .newfooder .fooder .colom1 .list ul li a{
    text-decoration: none; 
    color: white;
    padding-left: 70px;
  }
  .newfooder .fooder  .colom1  h2{
    color: white;
    font-family: Inter;
  font-size: 21px;
  font-weight: 600;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: left;
  padding-left: 100px;
  }
  .newfooder .fooder  .colom2{
    flex: 1;
    width: 216px;
  height: 170px;
  gap: 12px;
  
  }
  .newfooder .fooder  .colom2  ul{
    list-style-type: none;
  text-decoration: none;
  }
  
  .newfooder .fooder  .colom2  ul li a{
    text-decoration: none; 
    color: white;
  }
  .newfooder .fooder  .colom2  h2{
    color: white;
    font-family: Inter;
  font-size: 21px;
  font-weight: 600;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: left;
  padding-left: 30px;
  }
  .newfooder .d4 hr{
  
    
    border: 1px solid #FFFFFF;
  
  
  }
  
  .newfooder .d4 p{
  color: #FFFFFF;
  width: 257px;
  height: 17px;
  margin-left: 500px;
  }
  }
  